GPATH
GRTAGS
GTAGS
*gnupg
*DS_Store
emacs/.emacs.d/cache/*
.backup/

.zcompdump
.zsh_history
__pycache__/

dwm/config.h

.config/xmonad/xmonad
.config/xmonad/xmonad-x86_64-linux
.config/xmobar/xmobar
.config/xmobar/xmobar-x86_64-linux
