GPATH
GRTAGS
GTAGS
*gnupg
*DS_Store
emacs/.emacs.d/cache/*

.zcompdump
.zsh_history
__pycache__/

xmonad/.config/xmonad/xmonad
xmonad/.config/xmonad/xmonad-x86_64-linux
xmobar/.config/xmobar/xmobar
xmobar/.config/xmobar/xmobar-x86_64-linux
